
/* Бекдроп желательно привязывать к центру по Х */
.backdrop {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    overflow-y: scroll;
    /* Обязательно также указываем в транзишине свойство visibility, иначе при закрытии модалки не сработает анимация  */
    transition: opacity var(--anim-main), visibility var(--anim-main);

    @include mq(mobile-only) {
        padding: 15px;
    }  
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}