.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;

    fill: #000000;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill var(--anim-main);

    &:hover {
        fill: var(--accent-text-color);
    }
}