


// Основные стили
body {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

// Чтобы бади не скролилось под мобменю
.no-scroll {
    overflow-y: hidden;
}

picture {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Ховер и фокус для всех ссылок.*/
a:hover,
a:focus {
    color: var(--accent-text-color);
}


/* Общий шрифт для h2 */
.section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
}