
.hero__title {
    display: block;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);

    @include mq(desktop) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

