
.features {
    
    @include mq(tablet-only){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    @include mq(desktop) {
        display: flex;
    }
}

.features__item {
    @include mq(mobile-only) {
        &:not(:last-child){
           margin-bottom: 30px; 
        }
    }
    @include mq(tablet-only) {
        flex-basis: calc((100% - 60px)/2);
        margin: 15px;
    }
    @include mq(desktop) {
        &:not(:last-child) {
            margin-right: 30px;       
        }
    }
}

.features__wrapper {
    display: flex;
    flex-basis: 270px;
    justify-content: center;
    align-items: center;

    height: 120px;
    margin-bottom: 30px;
    
    background-color: #F5F4FA;
}

.features__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-text-color);

    @include mq(tablet) {
        text-align: left;
    }
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}