/* Логотип в хедере и футере */
.logo {
    display: inline-block;

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-text-color);
    text-decoration: none;
}

.header__logo {
    margin-right: 93px;
}

/* Задаем цвет на лого в хедере и футере */
.logo__label--black {
    color: #000000;
    transition: color var(--anim-main);

    &:hover {
        color: var(--accent-text-color);
    }
}

.logo__label--white {
    color: var(--white-text-color);
    transition: color var(--anim-main);

    &:hover {
        color: var(--accent-text-color);
    }
}